@import '_vars';
@import 'modules/_home';
@import 'modules/_users';

a{text-decoration: none; color:black; text-transform: uppercase;}
a:hover{text-decoration: none;color:seagreen;text-transform: uppercase;}
@media (max-width: 575.98px) { 
    #imgcard {width: 200px;}
 }
