#nameTitle{
    font-family:$title-fonts;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 50px;
}

#nameSub{
    font-family: $subTitle-fonts;
}
#homeTitle{
    padding-bottom: 100px;
}

